<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>vshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>loginPage</param-name>
    <param-value>/index.jsp</param-value>
  </context-param>

  <context-param>
    <param-name>validatePage</param-name>
    <param-value>/main.jsp,/info.do,/saveInfo.do,/sys.jsp,/add.jsp,/user.jsp,/out.jsp,/add.do,/check.do</param-value>
  </context-param>

  <!---->
  <context-param>
    <param-name>commonPage</param-name>
    <param-value>/index.jsp,/login.do,/getpass.jsp,updatepass.jsp</param-value>
  </context-param>

  <!-- 验证用户是否登录的Filter -->
  <filter>
    <filter-name>validateLogn</filter-name>
    <filter-class>com.vshop.util.ValidateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>validateLogn</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>validateLogn</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>


</web-app>